@font-face {
  font-family: PTSans;
  src: url(fonts/PTSans-Regular.ttf);
}


.search {
  max-width: 940px;
  background: #a7d4e8;
  padding: 36px 0 0;
  font-family: PTSans;

  &-container {
    display: flex;
    padding-bottom: 26px;
    margin: 0 20px;
  }

  &-button {
    width: 130px;
    height: 45px;
    background: #5e9969;
    color: #fff;
    border: none;
    font-size: 20px;
    margin-left: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &-fields {
    width: 100%;

    &__main {
      width: 100%;
      border: none;
    }

    input {
      height: 45px;
      padding-left: 20px;
      font-size: 18px;
      font-family: PTSans;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &-selects {
    width: 100%;
    display: flex;

    &-wrapper {
      width: 33.3%;
      padding-right: 20px;
      background-color: #ffffff;
      margin-right: 1px;

      &:last-child {
        margin-right: 0;
      }
    }

    select {
      width: 100%;
      border: none;
      height: 45px;
      padding-left: 20px;
      background: url("../static/arrow-select.png") right center no-repeat;
      background-color: #ffffff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

  }

  &-controllers {
    display: flex;
    background: #e6f2fe;
    padding: 0 20px;
    height: 46px;
    line-height: 46px;

    &__main {
      color: #506981;

      &>span {
        border-bottom: 1px dotted #506981;
        cursor: pointer;
      }

      .disable {
        color: #adb9c4;
        border-bottom: none;
        cursor: auto;
      }
    }

    &__options {
      margin-left: auto;
      font-size: 0;

      &__price, &__meters {
        font-size: 16px;
        cursor: pointer;
      }

      &__price {
        margin-right: 22px;
      }

      &__price:before,  &__meters:before {
        content: '';
        width: 18px;
        height: 18px;
        display: inline-block;
        background: url("../static/search-filter-icon.png") no-repeat;
        background-size: 18px 18px;
        padding-left: 28px;
        vertical-align: middle;
      }

      .disable {
        color: #88949f;

        &:before {
          background: url("../static/search-filter-icon_disable.png") no-repeat;
        }
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 34px;
      margin: 0 10px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }


      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  .area-filters {
    margin: 0 20px 36px;
    font-size: 0;
    display: flex;

    &-inputs {
      width: 60%;
      display: flex;

      &-wrapper {
        background-color: #e6f2fe;
        padding-right: 20px;
        width: 33.3%;
      }
    }

    input, select {
      height: 45px;
      border: none;
      background: #e6f2fe;
      padding: 0 0 0 18px;

    }

    input {
      margin-right: 1px;
      width: 33.3%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    select {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background: url("../static/arrow-select.png") right center no-repeat;
      background-color: #e6f2fe;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
    }

    .button__options {
      flex: 1 0 auto;
      margin-left: 20px;
    }

  }

  .price-filters {
    margin: 0 20px 36px;
    font-size: 0;
    display: flex;

    &-inputs {
      width: 40%;
      display: flex;

      &__meter {
        width: 54px;
        height: 45px;
        background: #c2e3f2;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        font-family: PTSans;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    input, select {
      height: 45px;
      border: none;
      background: #e6f2fe;
      padding: 0 0 0 18px;
      width: 33.3%;
    }

    input {
      margin-right: 1px;
      flex: 1 0 auto;

      &:focus {
        border: none;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    select {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .button__options {
      flex: 1 0 auto;
      margin-right: 20px;
    }
  }

  .button__options {
    background: none;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #506981;
    color: #506981;
    font-size: 18px;
  }

  input:focus, select:focus {
      outline: none;
  }
}
